<h1 style="padding-top: 0; margin: 0;"> </h1>

<!--This page contains all of the images that act as the thumbnail for each project-->

<div class="row">
    <div class="col-lg-6">
        <a href="#/details" ng-click="pick(0);" >
            <div class="thumbnail" align="center">
                <img src="images/thumbs/adm3.png" class="img-responsive"/>
                <div class="title"><h5>Campus <br/>Domain Migration</h5></div> 
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="#/details" ng-click="pick(1);">
            <div class="thumbnail">
                <img src="images/thumbs/map2.png" class="img-responsive" />
                <div class="title"><h5> Campus <br/> Work Order System</h5></div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="#/details" ng-click="pick(2);">
            <div class="thumbnail" align="center">
                <img src="images/thumbs/login2.png" class="img-responsive"/>
                <div class="title"><h5>Login </br/> Capstone Project</h5></div>   
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="#/details" ng-click="pick(3);">
            <div class="thumbnail" align="center">
                <img src="images/thumbs/dboard2.png" class="img-responsive" />
                <div class="title"><h5>Campus <br/> Technician Portal</h5></div>    
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="#/details" ng-click="pick(4);" id="phoneapps">
            <div class="thumbnail" align="center">
                <img src="images/thumbs/phoneapps.png" class="img-responsive"/>
                <div class="title"><h5>Windows Phone Apps </h5></div>   
            </div>
        </a>
    </div>
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
        <a href="#/details" ng-click="pick(5);" id="phoneapps">
            <div class="thumbnail" align="center">
                <img src="images/thumbs/portfolio.jpg" class="img-responsive"/>
                <div class="title"><h5>This Website </h5></div>   
            </div>
        </a>
    </div>
    <div class="col-lg-6"></div>
</div>






